{% extends 'layouts/base.html.twig' %}

{% block title %}commentaire{% endblock %}

{% block body %}
 {{ form (form) }}




<a href="{{ path('app_home')}}" class="btn btn-sm bnt-outline-secondary">retour</a>
{% endblock %}